$purpleBG: #743d8a;
$purpleInput: #733d80;
$purpleAppBG: #461d5c;

$pinkAppBG: #5a102f;
$pinkBG: #a70d48;
$pinkInput: #8f1544;

$darkAppBG: #2b222e;
$darkBG: #554f5c;
$darkInput: #454040;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //   background: #553055;
}
//mixins
@mixin navbar($bgColor) {
  padding: 10px 20px;
  text-align: center;
  background: $bgColor;
  h1 {
    margin: 10px 0;
  }
}
@mixin input($bgColor) {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: $bgColor;
  color: #fff;
  border: 0;
}
@mixin bookList($bgColor) {
  margin: 20px;
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    background: $bgColor;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    &:hover {
      opacity: 0.7;
      text-decoration: line-through;
    }
  }
  .author {
    font-size: 0.9em;
    color: #ddd;
  }
}

@mixin appMixin($appBg) {
  background: $appBg;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}
.App-purple {
    @include appMixin($purpleAppBG)
}
.App-pink{
    @include appMixin($pinkAppBG)
}
.App-dark{
    @include appMixin($darkAppBG)
}
.navbar-purple {
  @include navbar($purpleBG);
}
.navbar-pink {
    @include navbar($pinkBG);
  }
.navbar-dark {
    @include navbar($darkBG);
  }

.bookList-purple {
  @include bookList($purpleBG);
}
.bookList-pink {
  @include bookList($pinkBG);
}
.bookList-dark {
  @include bookList($darkBG);
}
.input-purple {
    @include input($purpleInput);
  }
  .input-pink {
    @include input($pinkInput);
  }
  .input-dark {
    @include input($darkInput);
  }


.empty {
  margin: 20px;
  text-align: center;
}

form {
  padding: 20px;
}


input[type="submit"] {
  margin: 10px auto;
  background: #eee;
  border: 0;
  padding: 6px 20px;
  display: block;
}
